@page
@using Microsoft.AspNetCore.Html;
@model ProjectTimer.Pages.Sessions.IndexModel
@{
}
<link rel="stylesheet" href="~/css/sessionspages.css" asp-append-version="true" />

<div class="container px-4 text-center">
    <div class="row gx-5">

        <div class="col" id="sessionRightGutter">
            <div class="p-3">
                @if ((HttpContext.Session.GetString("_Id") == null) && (Model.ViewSummary != true))
                {
                        <h5 style="text-align: center;">Tryck på ett projekt för att starta timer</h5>
                        <br />
                        <form method="post" asp-page-handler="StartClock">
                            <h6 style="text-align: center;">Lägg till arbetsbeskrivning</h6>
                            <div class="mb-3">
                                <textarea class="form-control" id="projectDescriptionTextarea" name="taskDescription" rows="4"></textarea>
                            </div>

                            <br><hr> <br>  @*Ta detta till CSS-site.css senare vid refaktorering*@

                            <h6 style="text-align: center;">Dina aktiva projekt</h6>
                            <ul class="nav justify-content-center">
                                @foreach (var project in Model.ProjectList)
                                {
                                    <li class="nav-item">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-outline-success" name="pID" value="@project.Id">
                                                @project.Name
                                            </button>
                                        </div>
                                    </li>
                                }
                            </ul>
                    </form>
                }

                @if (Model.ListOfTimerSummaries != null)
                {
                    int x = 0;
                    @foreach (var projectClockList in Model.ListOfTimerSummaries)
                    {
                        
                        string pName = null;
                        foreach (var clock in projectClockList)
                        {
                            pName = clock.Project.Name;
                            <h5>Projekt:</h5><p>@clock.Project.Name</p>
                            <h5>Tidsåtgång:</h5>  <p>@clock.TotalMinutes min (mellan @clock.Started - @clock.Ended)</p>
                            <h5>Utfört arbete:</h5><p>@clock.Description</p>
                            <br />
                            @*button : Vill du spara någon tid från detta projekt till din sparade tid?*@
                        }
                        <h6>Dagens totala debiterbara tid för @pName är: @Model.TotalPricePerProjectList[x] minuter.</h6>
                        x = x + 1;
                    } 
                }
                
            @if (HttpContext.Session.GetString("_Id") != null)
            {
            <div class="clockSection">
                <h3>Timer pågående för @Model.Clock.Project.Name </h3>
                <hr>

                <form method="post" asp-page-handler="EndClock">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-success" 
                        name="clockId" value="@Model.Clock.Id">
                            Avsluta timer
                        </button>
                    </div>
                </form>
            </div>
            }
                </div>
        </div>


        <div class="col" id="sessionLeftGutter">
            <div class="p-3">
                @if (HttpContext.Session.GetString("_Id") == null)
                {
                    <form method="post" asp-page-handler="SumAll">
                        <button type="submit" class="btn btn-outline-primary btn-lg" name="SumAll">
                            Summera alla timers
                        </button>
                    </form>
                }
                <br /> <hr />
                @if (Model.SummaryOfSessionClocks != null)
                {
                    @foreach (var projectclock in Model.SummaryOfSessionClocks)
                    {
                        <div class="card mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@projectclock.Project.Name</h5>
                                <h6 class="card-title">@projectclock.Started.ToString("hh:mm") - @projectclock.Ended.ToString("hh:mm") </h6>
                                <p class="card-text">@projectclock.Description</p>

                                <form method="post" asp-page-handler="EditDescription">
                                    <button type="submit" class="btn btn-outline-success btn-sm" name="edit" value="@projectclock.Id">
                                        Lägg till/Ändra beskrivning
                                    </button>
                                </form>

                                <form method="post" asp-page-handler="DeleteClock">
                                    <button type="submit" class="btn btn-outline-success btn-sm" name="deleteId" value="@projectclock.Id">
                                        Ta bort timer
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                }
                </div>
        </div>


    </div>
</div>




















    

